.header {
  background-color: #4e4e4e;
}

.headerMargin {
  margin: 0 1rem;
}

.headerContent {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
}

.navItem {
  color: #f1f1f1;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 2.87rem;
  padding: 0 0.3rem 0.3rem;
  transition-timing-function: ease-in-out;
  transition-duration: 0.125s;
}

@media only screen and (max-width: 440px) {
  .navBar {
    display: none;
  }
}

.navItem:hover {
  border-bottom: solid 4px #f1f1f1;
}

.navItemDisabled {
  color: #f1f1f1;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 2.87rem;
  cursor: not-allowed;
  padding: 0 0.3rem 0.3rem;
}

.logo {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
