.footer {
  background-color: #4e4e4e;
}

.footerMargins {
  margin: 0 1rem;
}

.footerContent {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1.25rem 0;
}

.socialLinksItem {
  margin-left: 1.13rem;
}

.socialLinksItem:first-child {
  margin-left: 0;
}

.footerText {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

@media only screen and (max-width: 550px) {
  .footerContent {
    flex-direction: column;
  }
  .footerText {
    text-align: center;
    margin-bottom: 1rem;
  }
}
