.mainSection {
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/background.webp");
  height: calc(100svh - 3.125rem);
  margin-bottom: 3.19rem;
}

.mainSectionContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.mainSectionContentPosition {
  margin: 0 1rem;
  max-width: 960px;
  width: 100%;
  height: 100%;
}

.mainSectionContentH1 {
  z-index: 1;
  display: block;
  margin: 0 0 3.89rem 0;
  color: #fff;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 36rem;
}

.mainSectionContentH2 {
  z-index: 1;
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 3.54rem 0;
}

.mainSectionShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.mainSectionBtn {
  z-index: 1;
  width: min-content;
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  border: 3px solid #fff;
  padding: 0.86rem 3.63rem 0.86rem 3.63rem;
  transition: 1s ease-in-out;
}

.mainSectionBtn:hover {
  background-color: #fff;
  color: black;
}

@media only screen and (max-height: 450px) {
  .mainSectionContent {
    justify-content: space-evenly;
  }
  .mainSectionContentH1 {
    margin: 0;
  }
  .mainSectionContentH2 {
    margin: 0;
  }
}

@media only screen and (max-width: 550px) {
  .mainSectionBtn:hover {
    background-color: transparent;
    color: #fff;
  }
}
