.offersBackground {
  background-color: #405d78;
}

.offersMargin {
  margin: 0 1rem;
}

.offersContent {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 3.19rem;
}

.offersH1 {
  color: #fff;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 3.17rem 0;
}

.offers {
  max-width: 49rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.offerBox {
  position: relative;
  width: 12.375rem;
  aspect-ratio: 1;
  flex-shrink: 0;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0.5rem 3.91rem 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s ease-in-out;
}

.offerBox:hover {
  transform: scale(1.05);
}

.isNew {
  border-radius: 9999px;
  position: absolute;
  top: -0.6875rem;
  left: -0.6875rem;
  width: 1.375rem;
  aspect-ratio: 1;
  flex-shrink: 0;
  background-color: #e07a64;
}

@media only screen and (max-width: 550px) {
  .offerBox {
    width: 80%;
  }
  .offerBox:hover {
    transform: none;
  }
}
